/* app css stylesheet */
html {
    line-height: inherit;
}
body {
    margin: 1em auto;
    width: 320px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4a4a4a;
}
header {
    color: #fff;
    background-color: #11779b;
    padding: .5em;
    text-align: center;
}
header h1:after {
    content: " ✔";
}
summary {
    color: #11779b;
    font-weight: bold;
    margin-bottom: 1em;
}
main {
    padding: .5em 0;
}
main ul {
    margin: 0;
    padding: 0;
}
main ul li {
    display: inline-block;
    width: 100%;
}
#toDoItemText {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}
.toDoItem, #allDone {
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
}
.toDoItem label {
    padding: 0 .5em;
}
.toDoItem input[type=checkbox] {
    margin-left: 0;
}
#allDone {
    margin: 1em 0;
}
.toDoItem input.done+label {
    color: green;
}
.toDoItem input.deleted+label {
    color: red;
    text-decoration: line-through;
}
.toDoItem:hover input:not(.deleted)+label:not(.edit)+button.btnDelete {
    display: inline;
}
.toDoItem form, .toDoItem input {
    float: left;
}
.btnDelete {
    display: none;
    height: 1.1em;
    color: red;
    font-size: 8pt;
    vertical-align: top;
}
.btnClearDone {
    float: left;
}
.btnClearDeleted {
    float: right;
}
@media only screen and (max-width: 640px) {
    body {
        margin: 0;
    }
    main {
        padding: .5em;
    }
}